* {
  margin: 0;
  padding: 0;
}

.deck-set {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deck-card {
  background-color: #fff;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 100%;
  border: solid 1px grey;
  color: grey;
  font-size: 18px;
}

.used {
  background-color: grey;
  color: black;
}
