* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.deck-set {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.deck-card {
  background-color: #fff;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 50px;
  border: solid 1px #ececec;
  color: black;
  font-size: 18px;
}

.used {
  background-color: #ececec;
  color: black;
}

.board {
  width: 80%;
  margin: auto;
  border: solid 1px #ececec;
  padding: 10px;
}

.player-board {
  margin: auto;
  width: 80%;
  max-width: 800px;
  border: solid 1px #ececec;
  min-height: 160px;
}
